---
title: Refresh the Triangle

---
.pane.hero-pane
  .pane-inner
    .card
      = image_tag "little-green-software.png"
      .card-details
        %time.card-date
          %span.month February
          %br
          %span.day 22
          %br
          at 7:00
        .card-location
          %h2 Little Green Software
          %address
            111 W Parrish Street Suite C
            %br
            Durham, NC  27701
      = link_to "RSVP", "https://www.meetup.com/refreshthetriangle/events/247333497/", class: "card-link"
.pane.content-pane
  .pane-inner
    = sprockets.find_asset('refresh-logo.svg').to_s

    %hr

    %h2 A community of web professionals

    %p
      Refresh the Triangle is a meetup organized around bringing together
      developers, designers, content creators, project managers, and anyone else
      who works inside the digital space to discuss and share big ideas about
      how to improve at our craft, delight our stakeholders, and create quality
      experiences online.

    %p
      Our goal is simple: bring together the best and brightest new media
      professionals in the Triangle so that we may learn from and inspire one
      another.

    %h3 Next Meetup

    %h2 Design + Blockchain

    .topic-summary
      %p
        By now you’ve heard the hype surrounding cryptocurrencies and
        blockchain, but not sure how it affects you as a designer. How does
        blockchain help your users? Maybe you have learned about blockchain and
        want to get involved, but you’re not sure where to start. What does
        designing for trust really mean? What is different about designing for
        apps that use a blockchain?

      %p
        This talk will cover the challenges in designing experiences for
        blockchain applications and how we approach these problems using
        low-fidelity prototyping, design thinking methodologies, and user
        research. Sarah will discuss what she and her colleagues have
        learned—and what you need to know as a designer.

      %p
        %strong Sarah Mills
        is an award-winning designer with experience spanning industries
        such as scientific publishing, government, journalism, and software. She
        is currently Product Design Director at ConsenSys, a venture production
        studio building decentralized applications and various developer and
        end-user tools for blockchain ecosystems, primarily focused on Ethereum.
        Previously, she led product design teams and facilitated design thinking
        for IBM Blockchain. Sarah cares about making the blockchain space more
        accessible, inclusive, and focused on solving problems for human
        beings—while making a design practice more efficient and transparent.

    %p
      Refresh the triangle is organized by
      = succeed ',' do
        = link_to "@joshmobley", "http://twitter.com/joshmobley"
      = succeed ',' do
        = link_to "@jchreu", "http://twitter.com/jchreu"
      and
      = succeed '.' do
        = link_to "@whistle", "http://twitter.com/whistle"

    %hr

    %h2 Sponsors
    %ul.sponsors
      %li
        = link_to "https://thoughtbot.com" do
          = image_tag "thoughtbot-logo.png"
