---
title: Refresh the Triangle

---
.pane.hero-pane
  .pane-inner
    .card
      = image_tag "the-iron-yard.png"
      .card-details
        %time.card-date
          %span.month June
          %br
          %span.day 28
          %br
          at 6:30
        .card-location
          %h2 The Iron Yard
          %address
            Raleigh Campus
            %br
            213 Fayetteville St.
            %br
            Raleigh, NC  27601
      = link_to "RSVP", "http://www.meetup.com/refreshthetriangle/events/231519966/", class: "card-link"
.pane.content-pane
  .pane-inner
    = sprockets.find_asset('refresh-logo.svg').to_s

    %hr

    %h2 A community of web professionals

    %p
      Refresh the Triangle is a meetup organized around bringing together
      developers, designers, content creators, project managers, and anyone else
      who works inside the digital space to discuss and share big ideas about
      how to improve at our craft, delight our stakeholders, and create quality
      experiences online.

    %p
      Our goal is simple: bring together the best and brightest new media
      professionals in the Triangle so that we may learn from and inspire one
      another.

    %h3 Next Meetup

    %h2 Women in Tech in the Triangle

    .topic-summary
      %p
        Refresh the Triangle is excited to bring together a panel of women
        leaders from across our industry to discuss the state of technology from
        their perspective.
      %p
        We’re inspired by this opportunity to hear personal stories and
        experiences and to discuss today’s challenges.
      %p
        As we move forward in shaping Raleigh to be one of the most
        forward-thinking centers of technology and design, it’s important for us
        to have these moments to see our industry and communities from every
        angle.

      %h3 The Panelists:

      %h4= link_to "Sandi Metz", "http://twitter.com/sandimetz"
      %p
        Sandi is a teacher, sometime consultant, cyclist, Rubyist, reluctant
        author, obsessive programmer, recalcitrant blogger and the antidote for
        ambition. She's a cornerstone of the triangle's development community,
        and has been programming for 30+ years.

      %h4= link_to "Carol Vercellino", "http://twitter.com/carolvercellino"
      %p
        Before co-founding Oak City Labs, Carol was the Director of Engineering
        at StepLeader Digital, a mobile application platform for local media
        stations and colleges across the country.  Prior to StepLeader, she
        managed software and systems engineering at Teradata and iContact
        leading the adoption of agile practices and continuous delivery.  Carol
        started her career as a Systems Engineer and enjoys working with Linux
        infrastructures deployed to AWS or Google Cloud.  She holds an MBA in
        Technology Entrepreneurship and Commercialization from NC State and a BS
        in Business Administration from University of South Carolina - Upstate.
      %p
        Outside of Oak City Labs, Carol is an avid runner and enjoys spending
        time with her husband and daughters, preferably outside.  Sandi is a
        teacher, sometime consultant, cyclist, Rubyist, reluctant author,
        obsessive programmer, recalcitrant blogger and the antidote for
        ambition. She's a cornerstone of the triangle's development community,
        and has been programming for 30+ years.

      %h4= link_to "Sarah Kahn", "http://twitter.com/aarahkahak"
      %p
        Sarah Kahn is a UX Manager at Intel. She has been designing and building
        web interfaces since 2008. She likes making wireframes and prototypes on
        lots and lots of grid paper, and purr programming with her cat, Delia.
        She wrote the GDI UX curriculum, which you can fork
        <a href="https://github.com/snkahn/gdi-ux-basics">here</a>.

      %h4= link_to "Susan Tacker", "http://twitter.com/sdtacker"
      %p
        Susan's professional background is in both technical communication and
        user experience, and she manages a team of user experience designers for
        an enterprise software company. A firm believer in the value provided by
        professional organizations, particularly for people in tech, she founded
        the Houston chapter of the User Experience Professionals Association in
        2013. She's a co-organizer of Ladies That UX - Durham and president of
        Triangle UXPA. Susan has graduate degrees in both journalism and human
        factors in information design, and lives in Durham with her husband
        Chuck and their dog, Tucker T.

      %h4= link_to "Ashley Ellis", "http://twitter.com/ashleynellis"
      %p
        Ashley is a developer at thoughtbot. She is one of the top contributors
        to ActiveMerchant and loves helping out in the development community.
        She's an organizer of Railsbridge Triangle, a UNC graduate and enjoys
        cycling, backpacking and playing frisbee with her dog.

      %h4 Moderated by <a href="valeriesjaffee">Valerie Jaffee</a>
      %p
        Valerie is the Community Manager at Industrious Raleigh, a coworking
        space for startups and small businesses in downtown Raleigh. She's
        passionate about leveling the field in entrepreneurship, making it
        possible for women, communities of color, and social entrepreneurs to
        access capital and realize triple-bottom line impact.

    %p
      Refresh the triangle is organized by
      = succeed ',' do
        = link_to "@tevan", "http://twitter.com/tevan"
      = succeed ',' do
        = link_to "@joshmobley", "http://twitter.com/joshmobley"
      and
      = succeed '.' do
        = link_to "@jchreu", "http://twitter.com/jchreu"

    %hr

    %h2 Sponsors
    %ul.sponsors
      %li
        = link_to "http://www.matienergy.com/" do
          = image_tag "mati-logo.png"
      %li
        = link_to "http://thoughtbot.com" do
          = image_tag "thoughtbot-logo.png"
      %li
        = link_to "https://www.theironyard.com/" do
          = image_tag "the-iron-yard-logo.png"
