---
title: Refresh the Triangle

---
.pane.hero-pane
  .pane-inner
    .card
      = image_tag "industrious.png"
      .card-details
        %time.card-date
          %span.month April
          %br
          %span.day 14
          %br
          at 6:30
        .card-location
          %h2 Charter Square
          %address
            555 Fayetteville St.
            %br
            3rd Floor
            %br
            Raleigh, NC  27601
      -# TODO: update meetup link
      = link_to "RSVP", "http://www.meetup.com/refreshthetriangle/events/226568051/", class: "card-link"
.pane.content-pane
  .pane-inner
    = sprockets.find_asset('refresh-logo.svg').to_s

    %hr

    %h2 A community of web professionals

    %p
      Refresh the Triangle is a meetup organized around bringing together
      developers, designers, content creators, project managers, and anyone else
      who works inside the digital space to discuss and share big ideas about
      how to improve at our craft, delight our stakeholders, and create quality
      experiences online.

    %p
      Our goal is simple: bring together the best and brightest new media
      professionals in the Triangle so that we may learn from and inspire one
      another.

    %h3 Next Meetup

    %h2 The Discipline of Quality

    .topic-summary

      %p
        Chad Pytel, co-founder and CEO of
        <a href="http://thoughtbot.com">thoughtbot</a>,
        discusses its origins, how early experiences influenced the direction
        and culture of the company, and how he has learned to cultivate a
        consistently high standard of quality in work.

      %p
        Chad leads the day-to-day operations of thoughtbot, including human
        resources, hiring, and growth, and is responsible for overall strategy
        for the company.

      %p
        He has twenty years of experience in software development and services,
        and has co-authored two books:
        <a href="http://www.amazon.com/Rails-AntiPatterns-Refactoring-Addison-Wesley-Professional/dp/0321604814">Rails AntiPatterns</a>
        and
        <a href="http://www.amazon.com/Pro-ActiveRecord-Ruby-Databases-Rails/dp/1590598474">Pro ActiveRecord for Ruby</a>.
        Chad holds bachelor of science degrees in both Computer Science and
        Humanities &amp; Arts (Drama/Theatre) from Worcester Polytechnic
        Institute (WPI).

    %p
      Refresh the triangle is organized by
      = succeed ',' do
        = link_to "@tevan", "http://twitter.com/tevan"
      = succeed ',' do
        = link_to "@joshmobley", "http://twitter.com/joshmobley"
      and
      = succeed '.' do
        = link_to "@jchreu", "http://twitter.com/jchreu"

    %hr

    %h2 Sponsors
    %ul.sponsors
      %li
        = link_to "https://dzone.com/" do
          = image_tag "dzone-logo.png"
      %li
        = link_to "http:/industriousoffice.com/" do
          = image_tag "industrious-logo.png"
      %li
