---
title: Refresh the Triangle

---
.pane.hero-pane
  .pane-inner
    .card
      = image_tag "pendo.png"
      .card-details
        %time.card-date
          %span.month June
          %br
          %span.day 13
          %br
          at 6:30
        .card-location
          %h2 Pendo
          %address
            418 South Dawson Street
            %br
            Raleigh, NC  27601
      = link_to "RSVP", "https://www.meetup.com/refreshthetriangle/events/239779797/", class: "card-link"
.pane.content-pane
  .pane-inner
    = sprockets.find_asset('refresh-logo.svg').to_s

    %hr

    %h2 A community of web professionals

    %p
      Refresh the Triangle is a meetup organized around bringing together
      developers, designers, content creators, project managers, and anyone else
      who works inside the digital space to discuss and share big ideas about
      how to improve at our craft, delight our stakeholders, and create quality
      experiences online.

    %p
      Our goal is simple: bring together the best and brightest new media
      professionals in the Triangle so that we may learn from and inspire one
      another.

    %h3 Next Meetup

    %h2 Make Informed Decisions: Use Metrics and KPIs to Achieve Goals

    .topic-summary
      %p
        Data for a product and business can be ubiquitous — the key is knowing
        what to look for, and how to use it.

      %p
        Michael Peach, the Head of Product Marketing at Pendo, and Greg Hyer,
        the Marketing Communications Manager at TheeDesign, will share their
        insights with us on how to establish and use metrics and KPIs — and take
        action.

      %p
        There will be food and drink provided by thoughtbot, and space provided
        by Pendo.

      %h3 The Talks

      %h4
        5 Key Measurements for Product Success - What metrics we use internally
        at Pendo and why

      %p
        As a provider of product analytics, one of the consistent questions we
        get is how to make sense of the data, and what should product teams look
        to measure. This session will walk through the key metrics that we use
        internally to measure the health of our customers and success of our
        product. We will look at how product teams can make usage data
        actionable, and ways that they can gather data and calculate metrics
        whether using our platform or not.

      %p
        %strong Michael Peach
        is the Head of Product Marketing for
        = link_to "Pendo", "http://pendo.io"
        where he leads messaging, positioning, and launch activities for Pendo’s
        product experience platform.  Prior to joining Pendo, he was a program
        director at IBM where he led marketing and demand generation teams for
        their mobile, application integration and business process management
        portfolios.  He has also held product management and business
        development roles for several small and early-stage technology
        companies.  He has a bachelor’s degree from Santa Clara University and
        an MBA from the University of North Carolina.

      %h4 Help Your Client Identify KPIs Based on their Business Goals

      %p
        Every business has goals. Businesses that make investments in products
        and services expect some sort of return. For some, the problem is
        knowing what to measure to determine if that investment is producing a
        return.

      %p
        %strong Greg Hyer,
        Marketing Communications Manager at
        = link_to "TheeDesign", "https://www.theedesign.com/"
        and Co-host of the Social
        Selling Podcast by
        = succeed ',' do
          = link_to "Linking into Sales", "http://www.linkingintosales.com/"
        will be sharing several ways you
        can help your clients identify KPIs they can measure based on their
        business goals and objectives. He will focus on three specific business
        models; retail, SaaS and business services, each of which Greg has
        direct working experience in.

    %p
      Parking can be found on the street and in the parking garages by the
      Raleigh Convention Center a few blocks away.

    %p
      Refresh the triangle is organized by
      = succeed ',' do
        = link_to "@tevan", "http://twitter.com/tevan"
      = succeed ',' do
        = link_to "@joshmobley", "http://twitter.com/joshmobley"
      and
      = succeed '.' do
        = link_to "@jchreu", "http://twitter.com/jchreu"

    %hr

    %h2 Sponsors
    %ul.sponsors
      %li
        = link_to "http://thoughtbot.com" do
          = image_tag "thoughtbot-logo.png"
      %li
        = link_to "http://pendo.io" do
          = image_tag "pendo-logo.png"
