---
title: Refresh the Triangle

---
.pane.hero-pane
  .pane-inner
    .card
      = image_tag "momentum.png"
      .card-details
        %time.card-date
          %span.month May
          %br
          %span.day 01
          %br
          at 6:30
        .card-location
          %h2 Momentum
          %address
            213 Fayetteville St
            %br
            Raleigh, NC  27601
      = link_to "RSVP", "https://www.meetup.com/refreshthetriangle/events/249704479/", class: "card-link"
.pane.content-pane
  .pane-inner
    = sprockets.find_asset('refresh-logo.svg').to_s

    %hr
    %h2 A community of web professionals
    %p
      Refresh the Triangle is a meetup organized around bringing together
      developers, designers, content creators, project managers, and anyone else
      who works inside the digital space to discuss and share big ideas about
      how to improve at our craft, delight our stakeholders, and create quality
      experiences online.
    %p
      Our goal is simple: bring together the best and brightest new media
      professionals in the Triangle so that we may learn from and inspire one
      another.
    %h3 Next Meetup
    %h2 VR and AR in the Triangle
    .topic-summary
      %p
        The excitement around Virtual and Augmented Reality has been building
        for years now, with a steady drip of technological improvements and
        increasingly available consumer-ready products.
      %p
        We’re excited to have three local multidisciplinary experts join us to
        talk about their experience working with VR and AR in the region.
      %h3
        1. Predicting the Traffic Jam: What does a world with omnipresent VR/AR
        look like?
      %p
        Mike McMardle is the Co-Founder and Chief Product Officer at Lucid Dream
        VR. There's a saying that "Good science fiction doesn't predict the car,
        it predicts the traffic jam." In this talk Mike will share share some
        insights and predictions into human behavior and attempt to do the
        possible: predict the future. Using past paradigm shifts as examples and
        using the commonalities of our behavior as a guiding principle, we’ll
        get a brief overview of how this technology will probably radically
        change how we engage with each other and the world.
      %h3
        2. Usability Study of a Facial Recognition App in the Microsoft
        HoloLens
      %p
        Elizabeth Hammond UX Designer/Developer at Red Hat. Elizabeth will be
        sharing the work for her thesis for her M.A. in Digital Communication at
        the UNC School of Media and Journalism. The project explores the
        emerging (and magical) world of Mixed Reality (MR): a user study of a
        facial recognition application built for the Microsoft HoloLens, which
        is like a big pair of glasses that shows 2D and 3D digital information
        over the user’s real environment.
      %h3
        3. Making Virtual Reality a Reality – Bringing VR and AR to Triangle
        Businesses
      %p
        Jason Cooper and Jason McGuian are the Chief Digital Officer and the
        Chief Creative Officer at Horizon Productions, a multidisciplinary
        production house that has been providing companies in and around the
        Triangle with a range of customized content for nearly 35 years. The
        Jasons will join us to talk about the business and marketing end of VR,
        touching on topics ranging from awareness to networking to career
        advice.
    %hr
    %p
      We'll meet in American Underground@Raleigh (Momentum's new space) in
      downtown Raleigh. Moore Square Parking Deck is the closest garage.
    %p
      thoughtbot will provide snacks and beverages.
    %p
      Refresh the triangle is organized by
      = succeed ',' do
        = link_to "@joshmobley", "http://twitter.com/joshmobley"
      = succeed ',' do
        = link_to "@jchreu", "http://twitter.com/jchreu"
      and
      = succeed '.' do
        = link_to "@whistle", "http://twitter.com/whistle"

    %hr

    %h2 Sponsors
    %ul.sponsors
      %li
        = link_to "https://thoughtbot.com" do
          = image_tag "thoughtbot-logo.png"
