---
title: Refresh the Triangle

---
.pane.hero-pane
  .pane-inner
    .card
      = image_tag "crisp.png"
      .card-details
        %time.card-date
          %span.month January
          %br
          %span.day 24
          %br
          at 6:30
        .card-location
          %h2 CRISP Agency
          %address
            1112 Oberlin Rd #300
            %br
            Raleigh, NC  27605
      = link_to "RSVP", "https://www.meetup.com/refreshthetriangle/events/236701438/", class: "card-link"
.pane.content-pane
  .pane-inner
    = sprockets.find_asset('refresh-logo.svg').to_s

    %hr

    %h2 A community of web professionals

    %p
      Refresh the Triangle is a meetup organized around bringing together
      developers, designers, content creators, project managers, and anyone else
      who works inside the digital space to discuss and share big ideas about
      how to improve at our craft, delight our stakeholders, and create quality
      experiences online.

    %p
      Our goal is simple: bring together the best and brightest new media
      professionals in the Triangle so that we may learn from and inspire one
      another.

    %h3 Next Meetup

    %h2 On Hiring and Getting Hired: How to Stand Out & How to Grow a Talented Team

    .topic-summary
      %p
        When you're looking for a new career, you want to stand out to employers
        from the growing crowd.

      %p
        As an employer, you want to attract the right talent.

      %p
        This is about how the other side thinks — it's a presentation and Q&A
        session on building a strong company culture, hiring the right team, and
        on the flipside, getting hired by that dream company.

      %p
        This event will be hosted by the forces that are Ellen Gowdy of CRISP
        Agency and Dana Calder of The Iron Yard.  They each offer a rich and
        distinct viewpoint on culture and hiring — Ellen will bring the
        employer's perspective, and Dana will bring the candidate's perspective.

      %p
        Whether you represent a company looking for the right talent, or you're
        the talent looking for the right company: This is your night.

      %p
        Come prepared with questions related to hiring and getting hired —
        anything goes!

      %h3 The Speakers:

      %h4 Dana Calder
      %p
        Dana fell in love with North Carolina while studying Sociology at Salem
        College. Prior to joining The Iron Yard, she spent more than eight years
        in educational sales and support. Dana loves exploring the Durham food
        scene with her wife and son.

      %h4 Ellen Gowdy
      %p
        Ellen's sweet spot lies in helping companies grow from 20 to 100+ people
        while preserving and enhancing culture. She's a change almanac, and is
        skilled at cultivating systems that help companies thrive as they grow.
        As the Growth Manager at CRISP agency in Raleigh, Ellen puts the right
        people in the right seats, scales CRISP's unique company culture and
        helps build an iconic brand known throughout the region. Outside the
        office, she enjoys nature, cooking, documentaries and personal finance
        (no, really!)

    %p
      Parking can be found at CRISP, and there is plenty of it.

    %p
      Refresh the triangle is organized by
      = succeed ',' do
        = link_to "@tevan", "http://twitter.com/tevan"
      = succeed ',' do
        = link_to "@joshmobley", "http://twitter.com/joshmobley"
      and
      = succeed '.' do
        = link_to "@jchreu", "http://twitter.com/jchreu"

    %hr

    %h2 Sponsors
    %ul.sponsors
      %li
        = link_to "http://thoughtbot.com" do
          = image_tag "thoughtbot-logo.png"
      %li
        = link_to "http://crisp.agency" do
          = image_tag "crisp-logo.svg"
