---
title: Refresh the Triangle

---
.pane.hero-pane
  .pane-inner
    .card
      = image_tag "caktus.png"
      .card-details
        %time.card-date
          %span.month January
          %br
          %span.day 28
          %br
          at 6:30
        .card-location
          %h2 Caktus Group
          %address
            %i Next to Pizzeria Toro
            %br 
            108 Morris St. Suite 1C
            %br
            Durham, NC  27701
      = link_to "RSVP", "http://www.meetup.com/refreshthetriangle/events/226568051/", class: "card-link"
.pane.content-pane
  .pane-inner
    = sprockets.find_asset('refresh-logo.svg').to_s

    %hr

    %h2 A community of web professionals

    %p
      Refresh the Triangle is a meetup organized around bringing together
      developers, designers, content creators, project managers, and anyone else
      who works inside the digital space to discuss and share big ideas about
      how to improve at our craft, delight our stakeholders, and create quality
      experiences online.

    %p
      Our goal is simple: bring together the best and brightest new media
      professionals in the Triangle so that we may learn from and inspire one
      another.

    %h3 Next Meetup

    %h2
      Gather Great Minds, Share our Knowledge, Grow and Learn, Promote Local
      Talent

    .topic-summary
      %p
        Fifteen years into his career, Peyton shares some of his favorite laws,
        lessons, and tips that help him create, think, collaborate, communicate,
        and execute more effectively.

      %p
        From high-level cognitive and design principles to practical daily tips
        and tools, this will be a cross-disciplinary mix that spurs on some
        great dialogue and sharing.

      %p
        Peyton was long-time Designer and Design Director at the digital agency
        Viget, where he collaborated with various teams and clients on projects,
        brands, and initiatives big and small. He co-founded Refresh the
        Triangle and Viget’s Durham office in 2007. He’s now exploring the world
        of in-house product design, brand, and marketing as Director of Web
        Design at
        = succeed '.' do
          = link_to "Spoonflower", "http://spoonflower.com"

    %p
      Refresh the triangle is organized by
      = succeed ',' do
        = link_to "@tevan", "http://twitter.com/tevan"
      = succeed ',' do
        = link_to "@joshmobley", "http://twitter.com/joshmobley"
      and
      = succeed '.' do
        = link_to "@jchreu", "http://twitter.com/jchreu"

    %hr

    %h2 Sponsors
    %ul.sponsors
      %li
        = link_to "http://thoughtbot.com" do
          = image_tag "thoughtbot-logo.png"
      %li
        = link_to "https://www.caktusgroup.com" do
          = image_tag "caktus-logo.png"
      %li
